In [17]:
from datetime import date, timedelta
import calendar as ca
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
import lightgbm as lgb
print('Loading Data')
import os
os.chdir('/Users/apple/Desktop/NewA/kaggle/')
df_train = pd.read_csv('lgb_6wks'.csv',header =0 , sep =",")

Loading Data

In [11]:
3370463 *1/16

210653.9375

In [26]:
df_train.iloc[3370422]

id            128656850.0
unit_sales            0.0
Name: 3159810, dtype: float64

In [ ]:
print(df_train.iloc[3159811])
print(df_train.iloc[3222222])
print(df_train.iloc[3370462])

In [24]:
df_train.iloc[3159810:,1] = 0

In [30]:
print(df_train.iloc[3159811])
print(df_train.iloc[3222222])
print(df_train.iloc[3370462])

id            128656851.0
unit_sales            0.0
Name: 3159811, dtype: float64
id            128719262.0
unit_sales            0.0
Name: 3222222, dtype: float64
id            128867502.0
unit_sales            0.0
Name: 3370462, dtype: float64

In [ ]:
df_train.to_csv('lgb_0.csv',float_format='%.4f', index=None)